
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>ART</title>
    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'bootstrap/jumbotron.css' %}" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href=""><i class="glyphicon glyphicon-home"></i> Home</a></li>
            <li><a href="#about"><i class="glyphicon glyphicon-th-large"></i> About</a></li>
            <li><a href="#contact"><i class="glyphicon glyphicon-envelope"></i> Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <i class="glyphicon glyphicon-book"></i> Biblioteca <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                  <li><a href=""><i class="glyphicon glyphicon-question-sign"></i> Buscar Libro</a></li>

                  <li class="divider"></li>
                  <li class="dropdown-header">Archivo Regional Tacna</li>
                  <li><a href=""><i class="glyphicon glyphicon-plus-sign"></i> Ingresar Libro</a></li>
                  <li><a href=""><i class="glyphicon glyphicon-ok-sign"></i> Consultar Libro</a></li>
                  <li><a href=""><i class="glyphicon glyphicon-remove-sign"></i> Recuperar Libro</a></li>
 
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <i class="glyphicon glyphicon-file"></i> Hemeroteca <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                  <li><a href=""><i class="glyphicon glyphicon-question-sign"></i> Buscar Periodico</a></li>

                  <li class="divider"></li>
                  <li class="dropdown-header">Archivo Regional Tacna</li>
                  <li><a href=""><i class="glyphicon glyphicon-plus-sign"></i> Ingresar Periodico</a></li>
                  <li><a href=""><i class="glyphicon glyphicon-ok-sign"></i> Consultar Periodico</a></li>
                  <li><a href=""><i class="glyphicon glyphicon-remove-sign"></i> Recuperar Periodico</a></li>
                  <li><a href="#"><i class="glyphicon glyphicon-info-sign"></i> Reporte Completo de Periodicos</a></li>

              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <i class="glyphicon glyphicon-th-large"></i> Panel <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                  <li class="dropdown-header">Clasificacion</li>
                  <li><a href=""><i class="glyphicon glyphicon-question-sign"></i> Consultar</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Estados</li>
                  <li><a href=""><i class="glyphicon glyphicon-question-sign"></i> Consultar</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Tipos</li>
                  <li><a href=""><i class="glyphicon glyphicon-question-sign"></i> Consultar</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Ubicaciones</li>
                  <li><a href=""><i class="glyphicon glyphicon-question-sign"></i> Consultar</a></li>
              </ul>
            </li>

          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <i class="glyphicon glyphicon-th"></i> Administrador <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                  <li><a href=""><i class="glyphicon glyphicon-user"></i> Usuarios</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Grupos</li>
                  <li><a href="#"><i class="glyphicon glyphicon-modal-window"></i> Consultar</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Comentarios</li>
                  <li><a href=""><i class="glyphicon glyphicon-modal-window"></i> Consultar</a></li>
              </ul>
            </li>

            <li><a href=""><i class="glyphicon glyphicon-comment"></i> Comentarios</a></li>
          {% if user.is_authenticated %}
            <li><a href="/cerrar/"><i class="glyphicon glyphicon-log-out"></i> Salir</a></li>
          {% endif %}
          </ul>
          <div id="navbar" class="navbar-collapse collapse">
            {% if user.is_authenticated %}
            <a class="navbar-brand navbar-right" href="#">{{ user.username|capfirst}}</a>
            {% else %}
            <form method="POST"> {% csrf_token %}
              <div class="navbar-form navbar-right">
                  <div class="form-group">
                      <input type="text" placeholder="Usuario" class="form-control" name="username" id="inputEmail">
                  </div>
                  <div class="form-group">
                      <input type="password" placeholder="Contraseña" class="form-control" name="password" id="inputPassword">
                  </div>
                  <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-log-in"></i> ingresar</button>
              </div>
            </form>
            {% endif %}
          </div><!--/.navbar-collapse -->
      </div>
    </nav>

    {% block content %}
    {% endblock %}


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>
